  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;500;800;900&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
  }

  /* body
{
    width: 100vw;
    height: 100vh;
} */

  /* .main-cont {
      width: 100%;
      height: 100%;
  } */

  .header {
      width: 100%;
      height: 100px;
      background-color: #ECF2F9;
      padding-top: 20px;
  }

  p {
      color: #7C8893;
  }

  .header ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .header ul li span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
  }

  .header ul .list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;

  }

  .header ul .search span {
      gap: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  .btn {
      width: 150px;
      height: 50px;
      background-color: #0061E0;
      border: none;
      color: #ffffff;
      font-size: 13px;
      cursor: pointer;
  }

  .header ul .search span .fa {
      font-size: 20px;

  }

  .header ul .list li a {
      color: #7C8893;
      font-size: 15px;
  }

  .header .logo li span a {
      text-transform: uppercase;
      font-size: 20px;
      color: #0061E0;
  }

  .hero {
      width: 100%;
      height: 720px;
      background-color: #F4F9FF;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 150px;
  }

  .hero .right-h {
      width: 40%;
  }

  .hero .left-h {
      width: 40%;
  }

  .hero .left-h span {
      width: 200px;
      height: 800px;
  }

  .hero .left-h span img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
  }

  .hero .right-h h3 {
      font-size: 60px;
      margin-bottom: 20px;
      font-family: 'Inter';
  }

  .hero .right-h p {
      margin-bottom: 40px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 400;
      font-size: 18px;
  }

  .hero .right-h .mybtn {
      width: 200px;
      height: 50px;
      background-color: #0061E0;
      border: none;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
  }

  .hero .left-h .desc1 {
      height: 35px;
      background-color: #ffffff;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 320px;
      left: 1200px;
      position: absolute;
      /* box-shadow: 0 0 5px; */

  }

  .hero .left-h .desc1 p .fa {
      color: #FFCE00;
  }

  .hero .left-h .desc2 {
      width: 250px;
      height: 140px;
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      /* box-shadow: 0 0 20px; */
      position: absolute;
      top: 600px;
      left: 1070px;
  }

  .hero .left-h .desc2 p {
      text-align: center;
      font-family: 'Roboto';
      color: #7C8893;
  }

  .hero .left-h .desc2 h3 {
      text-align: center;
      color: #0061E0;
      font-size: 35px;
  }

  .hero .left-h .desc2 h5 {
      text-align: center;
      font-family: 'Roboto';
      color: #7C8893;
  }

  .hero .left-h .desc2 .mybtn2 {
      width: 100px;
      height: 30px;
      color: #ffffff;
      background-color: #0061E0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;

  }

  .hero-b {
      width: 65%;
      height: 150px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 790px;
      left: 250px;
      gap: 40px;
      border: none;
      outline: none;
      /* box-shadow: 0 0 2px 1px; */
  }

  .hero-b select {
      width: 200px;
      height: 50px;
      padding-left: 5px;
  }

  .hero-b .mybtn3 {
      width: 200px;
      height: 50px;
      color: #ffffff;
      background-color: #0061E0;
      border: none;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
  }

  /* ABOUT US STYLING */

  .aboutus {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 15px;
      padding: 200px 250px;
      gap: 30px;
  }

  .aboutus .right-a {
      width: 45%;
      height: 550px;
  }

  .aboutus .left-a {
      width: 70%;
      /* height: 550px; */
  }

  .aboutus .left-a .au {
      color: #0061E0;
      font-size: 25px;
      margin-bottom: 30px;
  }

  .aboutus .left-a .change {
      font-size: 50px;
      width: 750px;
      margin-bottom: 30px;
  }

  .aboutus .left-a .lorem {
      width: 560px;
  }

  .aboutus .left-a .left-a-svg {
      display: flex;
      margin: 50px 20px;
      gap: 30px;
  }

  .learn-more {
    display: flex;
    gap: 15px;
  }

  .learnnn {
    margin-bottom: 50px;
    color: #0061E0;
  }

  .aboutus .left-a .left-a-svg .modern,
  .aboutus .left-a .left-a-svg .secure {
      width: 240px;
  }

  .mod, .sec {
    margin-top: 20px;
  }

  .aboutus .left-a .left-a-svg .modern .mod,
  .mod-desc,
  .sec,
  .sec-pay {
    /* margin: 10px 0; */
    line-height: 25px;
  }

  .aboutus .right-a span {
      width: 200px;
      height: 25%;

  }

  .aboutus .right-a span img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 100%;
  }

  .aboutus .right-a .right-bottom {
      width: 240px;
      height: 280px;
      background-color: #ffffff;
      position: absolute;
      top: 1400px;
      left: 180px;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 30px 70px;
      box-shadow: 0 0 5px;
  }

  .aboutus .right-a .right-bottom svg {
      margin-left: autxo;
      margin-right: auto;
      margin-bottom: 10px;
  }

  .aboutus .right-a .right-bottom h4 {
      font-size: 19px;
      text-align: left;
  }

  .aboutus .right-a .right-bottom p {
      text-align: left;
      color: #7C8893;
  }

  .thirdcont {
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      display: block;
      margin: 30px 0 30px;
  }

  .thirdcont .exp .eih {
      margin: 10px 0;
      color: #0061E0;
      font-size: 15px;
  }

  .thirdcont .exp .oga {
      font-size: 45px;
      margin-bottom: 30px;
  }

  .exp {
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .picrow {
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
  }

  .picrow .image {
      background-color: #fff;
      box-shadow: 8px 0 10px -8px #7C8893;
  }

  .picrow .image img {
      width: 240px;
      height: 280px;
      margin: 20px;
  }

  .picrow .image .downtxt {
      text-align: left;
      margin-left: 20px;
  }

  .picrow .image .downtxt h4 {
      margin: 10px 0;
      font-size: 20px;
  }

  .picrow .image .downtxt .side {
      display: flex;
      margin: 10px 0;
  }

  .picrow .image .downtxt .nmm {
      color: #0061E0;
  }

  .picrow .image .downtxt .side .no {
      margin-left: 5px;
  }


  .fourthcont {
      justify-content: space-evenly;
      align-items: center;
      margin: 100px 150px;
  }

  .fourthcont .midcont {
      display: flex;
      justify-content: space-between;
      padding: 50px;
      background-color: #e2efff;
  }

  .fourthcont .midcont .baa {
      display: flex;
  }

  .fourthcont .midcont .baa .cont {
      background-color: #fff;
      border-radius: 100px;
      padding: 15px;
      margin-right: 20px;
  }

  .fourthcont .midcont .baa .baatxt .baatxt1 {
      font-size: 30px;
      margin-bottom: 10px;
  }

  .fourthcont .midcont .baa .baatxt .baatxt2 {
      font-size: 20px;
  }

  .fourthcont .midcont .joinbtn {
      background-color: #0061e0;
      color: #FFF;
      padding: 20px;
      margin: 0;
      width: 150px;
      text-align: center;
      height: 60px;
  }

  .fifthcont {
      width: 100%;
      justify-content: space-around;
      align-items: center;
      display: block;
      margin: 100px 0 0;
  }

  .fifthcont .fea .fl {
      margin: 10px 0;
      color: #0061E0;
      font-size: 15px;
  }

  .fifthcont .fea .wbd {
      font-size: 45px;
      margin-bottom: 30px;
  }

  .fea {
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .fifthcont .gallery {
      display: flex;
      gap: 30px;
      justify-content: center;
      margin: 70px 0;
  }

  .fifthcont .imggal {
      width: 25%;
      background-color: #fff;
      box-shadow: 8px 0 10px -8px #7C8893;
  }

  .fifthcont .imggal .mainimg,
  .loc {
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .fifthcont .imggal .mainimg .pics1 {
      width: 100%;
      margin-bottom: 20px;
  }

  .fifthcont .imggal img {
      width: 100%;
      height: 210px;
  }

  .fifthcont .imggal .downtxt1 {
      margin: 20px;
  }

  .fifthcont .imggal .downtxt1 .housefeat {
      margin: 20px 0;
  }

  .fifthcont .gallery .imggal .amountbtn {
      background-color: #0061e0;
      color: #FFF;
      padding: 20px;
      margin: 0;
      font-size: 20px;
      text-align: center;
      height: 60px;
  }

  #iconwords {
      margin-left: 100px;
  }

  .fa-clock {
      font-size: 20px;
  }

  .loc,
  .icon1,
  .housefeat {
      display: flex;
      gap: 10px;
      margin-top: 5px;
  }